<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" displayDetailsOnPhpunitDeprecations="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd" bootstrap="tests/bootstrap.php" cacheDirectory=".phpunit.cache" executionOrder="depends,defects" shortenArraysForExportThreshold="10" requireCoverageMetadata="false" beStrictAboutCoverageMetadata="false" beStrictAboutOutputDuringTests="true" failOnPhpunitDeprecation="true" failOnRisky="true" failOnWarning="true" displayDetailsOnTestsThatTriggerDeprecations="true" displayDetailsOnTestsThatTriggerErrors="true" displayDetailsOnTestsThatTriggerNotices="true" displayDetailsOnSkippedTests="true" displayDetailsOnTestsThatTriggerWarnings="true">
  <php>
    <const name="JTEST_TITLE" value="PHPUNIT"/>
    <const name="JTEST_DB_ENGINE" value="mysqli"/>
    <const name="JTEST_DB_HOST" value="mysql"/>
    <const name="JTEST_DB_NAME" value="test_joomla"/>
    <const name="JTEST_DB_USER" value="joomla_ut"/>
    <const name="JTEST_DB_PASSWORD" value="joomla_ut"/>
    <!--ldap settings are preconfigured to work with bitnami/openldap docker image-->
    <const name="JTEST_LDAP_HOST" value="openldap"/>
    <!-- to disable ldap tests: set to an empty value -->
    <const name="JTEST_LDAP_PORT" value="1389"/>
    <const name="JTEST_LDAP_PORT_SSL" value="1636"/>
    <!--CACERTFILE path is relative to JPATH_ROOT-->
    <const name="JTEST_LDAP_CACERTFILE" value="./tests/certs/CA.crt"/>
    <const name="JTEST_LDAP_USEV3" value="1"/>
    <const name="JTEST_LDAP_NOREFERRALS" value="1"/>
    <const name="JTEST_LDAP_BASE" value="dc=example,dc=org"/>
    <const name="JTEST_LDAP_SEARCH" value="uid=[search]"/>
    <const name="JTEST_LDAP_DIRECT_USERDN" value="cn=[username],ou=users,dc=example,dc=org"/>
    <const name="JTEST_LDAP_FULLNAME" value="cn"/>
    <const name="JTEST_LDAP_EMAIL" value="mail"/>
    <const name="JTEST_LDAP_UID" value="uid"/>
    <const name="JTEST_LDAP_SEARCH_DN" value="cn=customuser,ou=users,dc=example,dc=org"/>
    <const name="JTEST_LDAP_SEARCH_PASSWORD" value="custompassword"/>
    <const name="JTEST_LDAP_TESTUSER" value="customuser"/>
    <const name="JTEST_LDAP_TESTPASSWORD" value="custompassword"/>
  </php>
  <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
    <include>
      <directory suffix=".php">.</directory>
    </include>
    <exclude>
      <directory suffix=".php">tests</directory>
    </exclude>
  </source>
</phpunit>
